a {
        color: #575757;
        text-decoration: none;
        font-family: arial, sans-serif;
        font-size: 10pt;
        display: block;
        padding: 8px;
    }

    li { 
        display: inline-block;
        padding: 3px;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 9px;
        padding-right: 30px;
        padding-top: 6px;
        overflow: hidden;
    }

    input[type=text]{
        width: 475px;
        height: 42px;
        font-size: 15px;
        text-indent: 48px;
        border-radius: 22px;
        box-shadow: 0px 0px 7px #dadada; 
        border: 1px solid #dedddd;
        background: url("...Images/search-icon.png") no-repeat;
        background-position: 4% 50%;
    }

    input[type=submit]{
        border: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #575757;
    }

    .micro-icon {
        position: relative;
        top: 10;
        left: -40px;
        display: inline-block;
        width: 18px;
        height: 27px;
        background: url("Images/micro-icon.png") no-repeat;
    }

    .footer{
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-left: 12px;
        padding-bottom: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        background-color:#f2f2f2;
    }
